.App {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
}

.user {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 20px ;
  align-items: center;
  display: flex;
}
